body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: 0;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  background-color: #4D394B;
}

h1, h2 {
    color: white;
}

img {
    animation: bounce 2s infinite;
    pointer-events: none;
}

.container, #singleMatch, #menu {
    z-index: 99;
}

.sudoku-container {
  border: 4px solid #1f171f;
  margin: 0 auto;
  position: relative;
  padding: 0 2px;
}

tr:nth-child(1) td:nth-child(3) input,
tr:nth-child(1) td:nth-child(6) input {
  margin: 0 10px 0 0;
}

tr:nth-child(3) input,
tr:nth-child(6) input {
  margin: 0 0 10px 0;
}

.sudoku-container input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  padding: 0;
  border: 3px #2E222D solid;
  background-color: #2E222D;
  color: #eee;
}
.sudoku-container input:focus {
  border-color: #4C9689;
}
.sudoku-container input.highlight {
  background-color: #29B6F6;
  border-color: #29B6F6;
}
.sudoku-container input.disabled {
  cursor: not-allowed;
  background-color: #4C9689;
  border-color: #4C9689;
}

.sudoku-container input.player1 {
  cursor: not-allowed;
  background-color: #4f4ae0;
  border-color: #4f4ae0;db74db
}

.sudoku-container input.player2 {
  cursor: not-allowed;
  background-color: #db74db;
  border-color: #db74db;
}

.sudoku-container input.disabled.highlight, .sudoku-container input.player1.highlight, .sudoku-container input.player2.highlight {
  background-color: #29B6F6;
  border-color: #29B6F6;
}

.container button {
    text-align: center;
    height: 50px;
    width: 100%;
    margin: auto;
    border: 3px #2E222D solid;
    background-color: #2E222D;
    color: #eee;
    margin-bottom: 10px;
}

.sudoku-container .invalid {
  border-color: #e74c3c;
}
.sudoku-container .invalid:focus {
  border-color: #e74c3c;
}

.sudoku-container.valid-matrix {
  border-color: #4C9689;
}

.lobby-window {
    background: rgba(20,10,10,.5);
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.btn.primary {
    background-color: #4C9689;
    box-shadow: inset 0 -3px #3b746a;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#games-list li {
    width: 95%;
    color: white;
    list-style-type: none;
}

#games-list li:hover {
    color: silver;
    cursor: pointer;
}

#games-list a {
    font-size: 23px;
}

#createLobby, #enterName-window {
    margin: 0 auto;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 20px;
    background: #7f3f74;
    text-align: center;
}

#createLobby button {
    width: 200px;
    height: 50px;
    background-color: #7f3f74;
    border: 1px solid #7f3f74;
    border-radius: 3px;
    color: white;
    margin: 5px;
}

#msgWindow {
    margin: 0 auto;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 20px;
    background: #7f3f74;
    text-align: center;
}

#msgWindow p {
    font-size: 25px;
    color: white;
    padding-top: 30px;
}

#createLobby input, #joinLobby input, #enterName-window input {
    padding: 20px;
    font-size: 20px;
}

#chatWindow ul {
    height: 100%;
    width: 100%;
    word-break: break-all;
    overflow: auto;
}

#chatWindow input {
    color: white;
    height: 60px;
    background: #352c34;
    border: #352c34;
    border-radius: 0;
    font-size: 25px;
}

#singleMatch button, #menu button, #quitButton {
    width: 200px;
    height: 50px;
    background-color: #7f3f74;
    border: 1px solid #7f3f74;
    border-radius: 3px;
    color: white;
    margin: 5px;
}

#singleMatch button {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

#controls {
  margin: 20px 0;
}

#user1Side {
    position: absolute;
    left: 10%;
}
#user2Side {
    position: absolute;
    left: 80%;
}

#chatWindow {
    margin: auto;
    border: 5px solid #6b4367;
    width: 400px;
    height: 350px;
    padding: 70px 0;
    background: #332932;
    box-shadow: #4D394B;
    display: none;
    position: absolute;
    top: 70%;
    left: 15%;
    z-index: 99;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    overflow: hidden;
}

#version {
    position: absolute;
    right: 1%;
    top: 0;
    color: white;
}

#closeChat {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    outline:none;
    background: #332932;
    border: 2px solid #eb686c;
    color: red;
    font-size: 30px;
}

#mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}

@keyframes bounce
{
  	0%   { margin-top: 0px; }
	50%  { margin-top: 15px; }
	100%  { margin-top: 0px; }
}
